.backblur__container {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 50;
    position: fixed;
    top: 0;
    left: 0;
}

.sidenav__container {
    width: 50%;
    height: 100vh;
    /* background: rgba(255, 255, 255, 0.4); */
    background: rgba(66, 96, 86, 0.8);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    transform: translateX(-100%);
    transition: all 0.3s ease-out;
}

.sidenav__container.show {
    transform: translateX(0);
}

.sidenav__navlinks {
    display: flex;
    flex-direction: column;
    /* list-style: none; */
}

